
.row
  .col-md-6
    %h2 Pings Inbox
    .pings-container.text-left
      -@received_pings.each do |ping|
        = render partial: 'ping', locals:{ping: ping, person: ping.pinger}
  .col-md-6
    %h2 Sent Pings
    -if current_user.role? :basic
      %br
      %br
      %h2
        %em Hmmm... upgrade?
    -else
      .pings-container.text-left
        -@sent_pings.each do |ping|
          = render partial: 'ping', locals: {pings: ping, person: ping.pinged}

