- @messages.each do |message|
  - classname = message.classname_for_user(current_user)
  %tr{class: classname}
    %td{class: classname}
      = link_to message.sender.name, profile_path(message.sender)
    %td{class: classname}
      = link_to message.recipient.name, profile_path(message.recipient)
    %td{class: classname}
      = message.date
    %td{class: classname}
      = message.content
    %td{class: classname}
      reply