- @messages.each do |message|
  - classname = message.classname_for_user(current_user)
  %tr{class: classname}
    %td{class: classname}
      = link_to message.sender.name, profile_path(message.sender)
    %td{class: classname}
      = link_to message.recipient.name, profile_path(message.recipient)
    %td{class: classname}
      = message.date
    %td{class: classname}
      = message.content
      .message-box
        - message.set_recipient_and_render_reply_partial(current_user)
    %td{class: classname}
      .reply-button.btn.btn-success Reply       
      .btn.btn-info Delete