- if @message.persisted?
  var alertHtml = "Message sent to #{escape_javascript(@message.recipient.name)}. Sweet!"
- else
  var alertHtml = "Message not sent. Not sweet. Please try again--love waits for no person!"

$('#js-alert').html(alertHtml);
$('.sent-message').slideUp();
