- if @message.persisted?
  var alertHtml = "Message sent to #{escape_javascript(@message.recipient.name)}. Sweet!"
- else
  var alertHtml = "Message not sent. #{escape_javascript(@message.errors.full_messages.join(", "))}. Not sweet. Please try again--love waits for no person!"

$('#js-alert').html(alertHtml).delay(2000).fadeOut("slow");
$('.sent-message').slideUp(1000);
