- if @message.persisted?
  var alertHtml = "Message sent to #{escape_javascript(@message.recipient.name)}. Sweet!"
- else
  var alertHtml = "Message not sent. #{escape_javascript(@message.errors.full_messages.join(', '))}. Not sweet.<br>Please try again--love waits for no person!"
var tbodyHtml = "#{escape_javascript(render @message)}"

$('#js-alert').html(alertHtml).delay(3000).fadeOut("slow", function() { $('#js-alert').html("").css('display', 'block'); });
$('.sent-message').slideUp(1000, function(){ $(this).removeClass('sent-message'); });

$('tbody').prepend(tbodyHtml);
$('textarea').val("");
StacksyApp.setup();
