@import 'bootstrap';

html, body {
  height: 100%;
}

#sign_in_subtitle{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-bottom: 0px;
  margin-top: 50px;
  /*padding-left: 30px;
  padding-right: 30px;*/
  text-align: left;
}

a:hover {
  text-decoration: none;
}

.btn {
  text-align: left;
}

.btn-butter {
  background-color: #FFFF77;
  color: #4073FF;
}

.container-fluid, .row, .col-md-2, .col-md-8 {
  height: 100%;
}

.container-fluid {
  margin-bottom: 200px;
}

body > .container-fluid > .row > .col-md-2, body > .container-fluid > .row > .col-md-8 {
  padding-top: 30px;
}

body > .container-fluid > .row > .col-md-2 {
  background-color: #C2DDFF;
}

header{
  
}

#js-alert {
  width: 300px;
  margin: 0px auto 0px auto;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  height: 25px;
}


a:hover#facebook_log_in_button{
  cursor: pointer;
  text-decoration: none;
}

#facebook_log_in_button{
  border: 2px solid #FF6000;
  background-color: #FF6000;
  color: white;
  border-radius: 3px;
  padding: 15px 130px;
  margin: 44px 0;
  display: inline-block;
  transition: background-color 0.6s, box-shadow 0.6s, text-shadow 0.6s;
  font-size: 25px;
}

.circular_large{
  width: 180px;
  height: 180px;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
}

.circular_small{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

h1 {
  font-size: 150px;
  font-family: 'Pacifico', cursive;
  color: #FF6000;
}

h2 {
  color: #4073FF;
  font-family: 'HelveticaNeue-Light'
}


h3, #js-alert, .alert, .notice {
  color: #4073FF;
}

.jq-regular {
  color: #4073FF;
}

.jq-function {
  color: #5CB85C;
  font-style: italic;
}

.jq-special {
  color: #FF5C97;
}

.user-display {
  width: 600px;
}

.col-md-8 {
  text-align: center;
  //background-color: #DFF8EE;
  background-color: white;
}

.col-md-2 p {
  margin-top: 300px;
}

svg {
  fill: #AF6200;
}

.special {
  font-family: 'Libre Baskerville', serif;
}

table {
  text-align: left;
}

td.message-box {
  height: 200px;
}

.message-button, .ping-button {
  display: inline;


}


.search_results{
  margin-top: 50px;
}

#slider{
  width:40%;
  background: -webkit-gradient(linear, center top, center bottom, from(#b9b8b8), to(#d2d1d1));
  margin-right: auto;
  margin-left:auto;

}

#amount{
  border: 0;

}


.ui-slider-handle{
  width: 20px;
  height: 20px;
  border: 1px solid #bbb;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  /*background: -webkit-gradient(linear, center top, center bottom, from(#fefefe), to(#e7e7e7));*/
  -webkit-box-shadow: inset 0 1px 1px #fff,0 1px 3px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 1px #fff,0 1px 3px rgba(0,0,0,0.1);
  cursor: pointer;
}


.ui-slider-range{
  background: #e10979;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.4);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.4);
}

.btn-search-submit{
  width: 65%;
  background-color: #4073FF;
  background-image: linear-gradient(#2badf3, #2492db);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.18),inset 0 0 1px 1px rgba(255,255,255,0.09);
  padding: 5px 10px;
  font-family: Helvetica;
  font-size: 30px;
  text-align: center;
  margin-top: 25px;
}

label{
  font-family: "HelveticaNeue-Light", Helvetica;
  color: #f0ad4e;
  font-size: 15px;
}

.search-results{
  margin-top: 25px;
}

.search-profile-circles{
  display: inline-block;
  width: 280px;
  margin-bottom: 20px;
}

.search-profile-circles img{
    opacity: .8;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out
  }

.small-index-div-tracks{
  width: 15%;
  display: inline-block;
  margin-right: 25px;
  margin-left: 25px;
}

#sign-up-submit{
  margin-top: 20px;
}

h3.panel-title {
  font-size: 20px;
}

.form-control {
  margin: 5px;
}

.quip {
  font-style: italic;
}
