User Home Page
!!! 5
%head
  %title Stacksy

%body
  %header
    %h1#title_header Stacksy

 
  #main_content
    #news_feed
      -@users.each do |user|
        / #user_image
        = user.name
        = user.gender.title
        = user.location
        / = user.age
        %br

  

    / .popular tags

    / .local tech events
