#main_content
  #news_feed

    -@users.each do |user|
      / #user_image
      = user.name
      = user.age
      = user.gender.title
      = user.location
      
      %br



  / .popular tags

  / .local tech events
