
<div id="sign_in_content">
<h1 id="sign_in_title">Stacksy</h1>
<h2 id="sign_in_subtitle">Roof party synth disrupt squid </br> messenger bag mixtape Wes Anderson Truffaut. </h2>

<%= render "devise/shared/links" %>
<div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="true" data-auto-logout-link="false"></div>

</div>

