<h1 id="sign-in-title">Stacksy</h1>
<h2 id="sign-in-subtitle">
  $<span class='jq-regular'>(</span><span class='jq-special'>'#you'</span><span class='jq-regular'>).on(</span>your<span class='jq-regular'>, pourSomeSyntacticSugar([</span>love<span class='jq-regular'>,</span> dating<span class='jq-regular'>,</span> romantic<span class='jq-regular'>,</span> social<span class='jq-regular'>]) { </span>$<span class='jq-regular'>.each(</span>!<span class="jq-function">function</span><span class='jq-regular'>(</span>life<span class='jq-regular'>) {</span> return <%= raw(stacksy_logo(icon_dimensions))%> <span class='jq-regular'>; });});</span>
</h2>
<div id="facebook-button-container">
  <%= render "devise/shared/links" %>
</div>

