- tracks.each do |track|
  = image_tag(track.engagement.profile.image_1, class: 'circular_large')

  = link_to track.engagement.name, profile_path(track.engagement)
  %br
  %p
    = track.engagement.age