.row
  .col-md-6
    %h2 Who you lookin' at.
    .tracks-container.text-left
      - @sent_tracks.each do |track|
        = render partial: 'track', locals: {track: track, person: @sent_track.recipient}
  .col-md-6
    %h2 Who's lookin' at you, kid?
    - if current_user.role? :basic
      %br
      %br
      %h2
        %em Hmmm... upgrade?
    - else
      .tracks-container.text-left
        - @received_tracks.each do |track|
          = render partial: 'track', locals: {track: track, person: @received_track.sender}

      