.row
  .col-md-6
    %h2 Who you lookin' at.
    .tracks-container.text-left
      = render partial: 'tracks', locals: {tracks: @sent_tracks}
  .col-md-6
    %h2 Who's lookin' at you, kid?
    - if current_user.role? :basic
      %br
      %br
      %h2
        %em Hmmm... upgrade?
    - else
      .tracks-container.text-left
        = render partial: 'tracks', locals: {tracks: @received_tracks}

      